postgis:
  image: kpettijohn/postgis
  ports:
    - "5432:5432"

koopPG:
  image: esridc/openfda-koop
  command: koop postgis
  links:
    - postgis
  environment:
    - KOOP_CACHE=postgis
    - fda_key=your_api_key
  ports:
    - "8002:8000"
